/* universal */
:root {
    font-size: 16px;

    /* colours */
    --text1: #002b36;
    --text2: #586e75;
    --base2: #eee;
    --base3: #fafafa;
    --link0: #c9e2f4;
    --link1: #268bd2;
    --link2: #1d689e;
}

/* highlighted */
::selection {
    color: var(--base3);
    background-color: var(--link1);
}


/* ensures a scrollbar on all pages */
html {
    font-family: 'Segoe UI', monospace;
    
    background-color: var(--base3);
}

/* clean slate */
html * {
    padding: 0;
    margin: 0;
}


/* main page layout */
#body-wrapper {
    width: 800px;
    max-width: calc(100% - 50px);
    margin: auto;

    padding-top: 50px;

    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 50px;
}

/* navigation column */
#nav h1, #nav h2, #nav p, #nav a {
    display: inline-block;

    box-sizing: border-box;

    padding-left: 5px;
    padding-right: 5px;
}

/* my name */
#nav h1 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #444;
}

/* my intro */
#nav p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: var(--text2);

    margin-top: 20px;
}

/* link categories */
#nav h2 {
    font-size: 0.9rem;
    font-weight: 400;

    margin-top: 10px;
}
    /* mM */
    .max-t:before { content: "- "; }
    .min-t:before { content: "+ "; }
    .min { display: none !important; }

/* navigation links */
a {
    color: var(--link1);
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 400;

    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;

    cursor: pointer;
}
    a:hover { text-decoration: underline; }

    /* current page's link */
    #this-page {
        color: var(--text1) !important;
        font-weight: 600 !important;
        text-decoration: none !important;
    }

    #nav img {
        width: 100%;
        
        margin-bottom: 20px;
    
        border-radius: 10px;
    
        filter: drop-shadow(0 4px 4px #00000011);
    }


/* content column */
p {
    font-size: 0.9rem;
    line-height: 1.75;
}


/* portfolio */
    .card {
        text-decoration: none;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4ch;
    }
        .card * { display: inline-block; }

        .card-img {
            background-color: var(--base2);
        
            box-sizing: border-box;
            border: 1px solid #ddd;
            border-radius: 10px;
            
            overflow: hidden;

            image-rendering: optimizeQuality;
        }
            .card img {
                width: 100%;
                display: block;
            
                filter: drop-shadow(0 5px 5px #00000022);

                transition: 0.2s ease-in-out;
            }
                .card:hover img {
                    filter: drop-shadow(0 20px 20px #0000001a);
                    transform: scale(1.0125);
                }
        
        .card-text {
            display: flex;
            align-items: center;
            padding: 20px 0;
        }
            .card p {
                color: var(--text2);
                font-variant: small-caps;

                margin-bottom: -3px;

                display: block;
            }

            .card h1 {
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--text1);
            }

            .card h2 {
                color: var(--text2);
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.5;

                padding: 10px 0;
            }


#footer {
    width: 100%;

    text-align: center;

    background-color: var(--base2);

    padding: 10px 0;

    position: absolute;
    bottom: 0;
}