/* universal */
:root {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;

    /* colours */
    --text1: #002b36;
    --text2: #586e75;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --link0: #a1cbe4;
    --link1: #268bd2;
    --link2: #1d689e;
    background-color: var(--base3);
}

/* highlighted */
::selection {
    color: var(--base3);
    background-color: var(--link1);
}

/* scroll bar */
::-webkit-scrollbar,
::-webkit-scrollbar-track { background-color: var(--base3); }

::-webkit-scrollbar-thumb {
    border: 4px solid var(--base3);
    background-color: #dbd5bf;
}
    ::-webkit-scrollbar-thumb:hover { background-color: #c4bfae; }

/* ensures a scrollbar on all pages */
html { overflow-y: scroll; }

/* clean slate */
html * {
    padding: 0;
    margin: 0;
}

/* main page layout */
#body-wrapper {
    width: 800px;
    max-width: calc(100% - 50px);
    margin: auto;

    padding-top: 50px;

    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 50px;
}

/* navigation column */
    #nav * { display: inline-block; }

    /* my name */
    #nav h1 { font-size: 1.2rem; }

    /* my intro */
    #nav p {
        font-size: 0.8rem;
        line-height: 1.5;
        color: var(--text2);

        margin-top: 10px;
    }

    /* link categories */
    #nav h2, .module h2 {
        font-size: 0.8rem;
        color: var(--text2);

        width: 100%;
        margin-top: 20px;

        cursor: pointer;
        user-select: none;
    }
        #nav h2:hover, #module h2:hover { color: var(--text1); }

        /* mM */
        .max-t:before { content: "- "; }
        .min-t:before { content: "+ "; }
        .min { display: none !important; }

    /* navigation links */
    #nav a, .module a, #cv a {
        color: var(--link1);
        font-size: 0.8rem;
        font-weight: 400;
        text-decoration: none;

        width: 100%;

        padding: 5px 0;

        cursor: pointer;
    }
        /* link hover */
        #nav a:hover, .module a:hover, #cv a:hover { color: var(--link2) !important; }

        /* arrow or space before links */
        #nav a:before, .module a:before, #cv a:before {
            margin-left: 2ch;
            content: "";
        }
        #nav a:hover:before, .module a:hover:before, #cv a:hover:before {
            margin-left: 0;
            content: "> ";
        }

        /* current page's link */
        #this-page { color: var(--link2) !important; }
        #this-page:before {
            margin-left: 0 !important;
            content: "# " !important;
            opacity: 1 !important;
        }

/* content column */
p {
    font-size: 0.9rem;
    line-height: 1.75;
}

/* portfolio */
    .card {
        text-decoration: none;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4ch;
    }
        .card * { display: inline-block; }

        .card-img {
            background-color: var(--base2);
        
            box-sizing: border-box;
            padding: 25px;

            border-radius: 10px;
            overflow: hidden;
        }
            .card img {
                width: 100%;
                display: block;
            
                filter: drop-shadow(0 5px 5px #00000022);

                transition: 0.2s ease-in-out;
            }
                .card:hover img {
                    filter: drop-shadow(0 20px 20px #0000001a);
                    transform: scale(1.0125);
                }
        
        .card-text {
            display: flex;
            align-items: center;
            padding: 20px 0;
        }

            .card h1 {
                font-size: 1.2rem;
                color: var(--text1);
            }

            .card h2 {
                color: var(--text2);
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.5;

                padding: 10px 0;
            }

            .card p { color: var(--link1); }

                .card:hover p { color: var(--link2); }

                .card:hover p:before {
                    content: "> ";

                    margin-left: -2ch;
                }*

/* cv */
    #cv h1 {
        font-size: 1.1rem;

        margin-top: 10px;
    }

    #cv h2, #cv h3 {
        font-size: 0.9rem;
        line-height: 1.5;
        padding: 5px 0;
    }

    #cv h3 {
        color: var(--text2);
        font-weight: 400;
    }

    #cv a:before { margin-left: 0; }
    #cv a:hover:before { margin-left: -2ch; }

/* uni page */
    .module {
        margin-bottom: 30px;
        padding-left: 2ch;
    }
        .module h1 {
            color: var(--text2);
            font-size: 1rem;

            margin: 0 0 15px -2ch;

            cursor: pointer;
        }
            .module h1:hover, .module h2:hover { color: var(--text1); }

        .module h2 { margin: 10px 0; }

        .module a {
            margin-left: 2ch;
            text-indent: -2ch;
        }

        .module .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;

            margin-bottom: 20px;
        }

/* grades */
    #grades h1 #grade { opacity: 0.66; }
    #grades h1 #grade:after { content: "%"; }
    #third-year {
        font-size: 1.2rem;
        margin-bottom: 2ch;
    }

    #grades h2 * { margin: 0; }

    .assessments * {
        display: inline;
        margin-right: 20px;
    }
    .assessments h2 { cursor: initial; }
    .assessments input {
        font-family: 'Roboto Mono', monospace;
        background-color: var(--base2);
        border: none;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 1ch;
        width: 6ch;
    }

/* banner image */
    .banner {
        width: 100%;
        border-radius: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
        border: 1px solid var(--base2);
    }