:root {
    /* colours */
    --text1: #002b36;
    --text2: #586e75;    
    --link1: #004694;
    --link2: #068ce6;
    --link3: #068ce655;

    /* text */
    font-family: 'Segoe UI', sans-serif;
}

html * {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;    
    display: grid;
    grid-template-rows: 1fr auto;
}

header, footer {
    box-sizing: border-box;
}
    header {
        width: 600px;
        max-width: calc(100% - 50px);
        margin: auto;

        padding: 30px 0;
        display: flex;
        justify-content: space-between;
    }
    footer {
        font-size: 14px;
        text-align: center;
        color: var(--text2);
        
        height: 50px;
        background-color: #f4f4f4;
        padding: 15px 0;
    }

h1 {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    color: var(--text1);
}

h2 {
    font-weight: 600;
    font-size: 14px;
    color: var(--link2);
    display: inline-block;
    cursor: pointer;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    font-variant: small-caps;
    color: var(--text2);
}

a {
    color: var(--link2);
    text-decoration-color: var(--link3);
}
    a:hover { text-decoration-color: var(--link2); }

#hero img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

#hero-nav {
    display: flex;
    justify-content: space-between;
}
    #hero-nav * {
        display: inline;
        margin: 10px 0;
        padding: 20px 0;
    }
    #hero-nav a { text-decoration: none; }
        #hero-nav a + a { margin-left: 40px; }
        #hero-nav h2:hover { opacity: 0.5; }

#hero-txt {
    display: grid;
    grid-template-columns: 37px 1fr;
    row-gap: 20px;
}

.emoji {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

#projects-cn, #hero {
    max-width: 600px;
    width: calc(100% - 50px);
    margin: auto;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    cursor: pointer;
    margin: 40px 0;
}
    .project img { width: 100%; }

    .project h1 {
        font-size: 16px;
        color: var(--text1);
    }
        .project:hover h1 { color: var(--link2); }

    .project p {
        font-size: 14px;
        color: var(--text2);
        margin-top: 5px;
    }

    .project .img-cn {
        overflow: hidden;
        max-height: 200px;
        border-radius: 5px;
    }
        .project .img-cn img {
            display: block;
            filter: drop-shadow(0 5px 5px #00000022);
            transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
        }
        .top-img { margin-top: -200px; }
            .project:hover .top-img {
                filter: drop-shadow(0 0 0 #00000000);
                transform: translateY(3px);
            }
            .project:hover .btm-img {
                filter: drop-shadow(0 20px 20px #00000022);
                transform: translateY(-3px);
            }

    .project .txt-cn {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }