/* COLOURS */
.light {
    --page-bg: #fff;
    --primary-text: #222;
    --secondary-text: #767676;
    --link-col: #2980b9;
}

.dark {
    --page-bg: #1e1e1e;
    --primary-text: #eee;
    --secondary-text: #aaa;
    --link-col: #64b2f1;
}


/* ALL PAGES */
html {
    font-family: 'Segoe UI', sans-serif;
}
body {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    background-color: var(--page-bg);
    color: var(--primary-text);
}
h1, h2 { font-weight: 600; }
    h1 {
        font-size: 1.5rem;
        margin-left: -1px;
    }
    h2 { font-size: 1.25rem; }
a { color: var(--primary-text); }


/* WRAPPER GRID */
#page-grid {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 600px) 1fr;
}
    #nav, #about { padding: 0 25px; }
    #projects { padding: 0 15px; }


/* NAVIGATION BAR */
#nav {
    z-index: 2;
    width: 550px;
    max-width: calc(100vw - 50px);
    background-color: var(--page-bg);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.025);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 50px;
}
    /* nav paragraphs */
    #nav p { display: inline-block; }

    /* nav links */
    #nav a { text-decoration: none; }
        #nav a:hover, #nav a:focus { text-decoration: underline; }

    #theme-btn {
        cursor: pointer;
        opacity: 0.5;
        user-select: none;
    }
        #theme-btn:hover { opacity: 1; }


/* INDEX */
#banner {
    height: auto;
    display: block;
    overflow: hidden;
    width: 100%;
    background-color: var(--secondary-text);
    max-width: 100vw;
}

/* wrapper */
#about {
    padding-top: 25px;
    padding-bottom: 0;
    text-align: justify;
    line-height: 1.5rem;
}
    /* about me header */
    #about h1 { display: inline; }

    /* social link wrapper */
    #social {
        filter: none;
        float: right;
        display: grid;
        grid-template-columns: 20px 20px 20px;
        grid-column-gap: 20px;
        justify-content: space-between;
        user-select: none;
    }
        /* social link image */
        #social img {
            padding-top: 2px;
            width: 20px;
            opacity: calc(1/3);
            float: right;
        }
            /* social link image on hover */
            #social img:hover, #social img:focus { opacity: 1; }

/* projects wrapper */
#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 25px;
}
    /* a-tag 'div' card */
    .card {
        box-sizing: border-box;
        padding: 6px 10px;
        margin-bottom: 10px;
        text-decoration: none;
    }
        .card * { margin: 0; }

        .card a {
            font-weight: 600;
            color: var(--link-col);
            text-decoration: none;
        }
            .card a:hover { text-decoration: underline; }

        /* the name of a project */
        .name {
            font-weight: 600;
            display: inline-block;
            font-size: 14px;
            cursor: pointer;
        }
            .no-link {
                cursor: default;
                color: var(--secondary-text); 
            }

        /* decription and tool text */
        .desc, .tool { font-size: 12px; }
            .desc { margin: 2px 0; }

        /* tool text and colour circle */
        .tool, .tool-colour, .collab {
            display: inline-block;
            color: var(--secondary-text);
            position: relative;
        }
            /* circle indicating a tool's main colour */
            .tool-colour, .collab {
                height: 12px;
                width: 12px;
                border-radius: 50%;
                top: 2px;
            }
        /* collaborator */
        .collab {
            background-color: var(--secondary-text);
            background-size: contain;
            margin-left: 7px;
        }
            .collab + .collab {
                margin-left: -9px;
                filter: drop-shadow(-1px 0 0 var(--page-bg));
            }


@media (orientation: portrait), (max-width: 600px) {
    #projects { grid-template-columns: 1fr; }
}