/* themes */
.light {
    --emphasis: #000;
    --page-bg: #fff;
    --primary-text: #222;
    --secondary-text: #767676;
    --link-col: #2980b9;
    --hr: #eee;
}

.dark {
    --emphasis: #fff;
    --page-bg: #1e1e1e;
    --primary-text: #d4d4d4;
    --secondary-text: #999;
    --link-col: #64b2f1;
    --hr: #444;
}


/* tags */
html { font-family: 'Segoe UI', sans-serif; }
    html * {
        margin: 0;
        padding: 0;
    }

body {
    background-color: var(--page-bg);
    color: var(--primary-text);
}

h1 {
    font-size: 24px;
    color: var(--emphasis);
    font-weight: 600;
    display: inline-block;
    margin-top: -6px;
}

p { margin: 10px 0; }

a { color: var(--primary-text); }

hr {
    border-color: transparent;
    background-color: var(--hr);
    margin: 25px 0;
}


/* content wrapper */
#wrapper {
    margin: auto;
    width: 600px;
    max-width: calc(100vw - 50px);
}


/* navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    width: 550px;
    max-width: calc(100vw - 50px);
    padding: 10px 0;
    margin: auto;
    font-weight: 700;
}
    #nav p { display: inline-block; }
        #nav a { text-decoration: none; }
            #nav a:hover, #nav a:focus { text-decoration: underline; }

    #theme-btn {
        cursor: pointer;
        opacity: 0.5;
        user-select: none;
    }
        #theme-btn:hover { opacity: 1; }


/* banner image */
.banner {
    padding: 0 !important;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}


/* about me section */
#about {
    padding: 30px 25px 0px 25px;
    line-height: 1.5;
}
    #social {
        filter: none;
        float: right;
        display: grid;
        grid-template-columns: 20px 20px 20px;
        grid-column-gap: 20px;
        justify-content: space-between;
        user-select: none;
    }
        #social img {
            padding-top: 2px;
            width: 20px;
            opacity: calc(1/3);
            float: right;
        }
            #social img:hover { opacity: 1; }

            
/* portfolio wrapper */
.portfolio {
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
    .portfolio * { margin: 0; }

    .portfolio a {
        font-weight: 600;
        color: var(--link-col);
        text-decoration: none;
    }
        .portfolio a:hover { text-decoration: underline; }
        
    .name {
        font-weight: 600;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
    }

    .desc, .tool { font-size: 12px; }
        .desc { margin: 2px 0; }

    .tool, .tool-colour, .collab {
        display: inline-block;
        color: var(--secondary-text);
        position: relative;
    }
        .tool { top: -2px; }
        .tool-colour, .collab {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-size: contain;
        }

    .collab {
        background-color: var(--secondary-text);
        margin-left: 7px;
    }
        .collab + .collab {
            margin-left: -9px;
            filter: drop-shadow(-1px 0 0 var(--page-bg));
        }


    @media (orientation: portrait), (max-width: 600px) {
        .portfolio { grid-template-columns: 1fr; }
    }