/* themes */
.light {
    --emphasis: #000;
    --page-bg: #fff;
    --primary-text: #222;
    --secondary-text: #767676;
    --link-col: #007acc;
    --hr: #eeeeee;
    --hr-transparent: #eeeeee00;
    --code-txt: #333333;
    --code-bg: #fdf6e3;
    --code-border: #f1e7ca;
    --opacity: 1;
}

.dark {
    --emphasis: #fff;
    --page-bg: #1e1e1e;
    --primary-text: #d4d4d4;
    --secondary-text: #999;
    --link-col: #64b2f1;
    --hr: #444444;
    --hr-transparent: #44444400;
    --code-txt: #666;
    --code-bg: #08294a;
    --code-border: #1e4e6c;
    --opacity: 0.7;
}


/* tags */
html {
    font-family: 'Segoe UI', sans-serif;
    overflow-y: scroll;
}
    html * {
        margin: 0;
        padding: 0;
    }

body {
    background-color: var(--page-bg);
    color: var(--primary-text);
    margin-bottom: 50px;
}

h1 {
    font-size: 24px;
    color: var(--emphasis);
    font-weight: 600;
    display: inline-block;
    margin-top: -6px;
}

h2 {
    font-variant: small-caps;
    font-weight: 400;
    margin: 25px 0 -20px 25px;
    font-size: 16px;
    color: var(--secondary-text);
}

p { margin: 10px 0; }

a {
    font-weight: 600;
    color: var(--link-col);
    text-decoration: none;
}
    a:hover { text-decoration: underline; }

hr {
    border-color: transparent;
    background-color: var(--hr);
    margin: 30px 0 25px 0;
}


/* content wrapper */
#wrapper {
    margin: auto;
    width: 600px;
    max-width: calc(100vw - 50px);
}


/* navigation bar */
#nav {
    display: flex;
    justify-content: space-between;
    width: 550px;
    max-width: calc(100vw - 50px);
    padding: 10px 25px;
    margin: auto;
    font-weight: 700;
}
    .no-banner { border-bottom: 2px solid var(--hr); }
    #nav p { display: inline-block; }
    #nav a {
        color: var(--emphasis);
        text-decoration: none;
    }
        #nav a:hover, #nav a:focus { text-decoration: underline; }

    #theme-btn {
        cursor: pointer;
        opacity: 0.5;
        user-select: none;
    }
        #theme-btn:hover { opacity: 1; }


/* banner image */
.banner {
    padding: 0 !important;
    min-height: 200px;
    height: 200px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    opacity: var(--opacity);
}
    .banner img { max-width: 600px; }


/* about me section */
#about {
    padding: 30px 25px 10px 25px;
    line-height: 1.5;
}
    #social {
        filter: none;
        float: right;
        display: grid;
        grid-template-columns: 20px 20px 20px;
        grid-column-gap: 20px;
        justify-content: space-between;
        user-select: none;
    }
        #social p { display: none; }
        #social img {
            padding-top: 2px;
            width: 20px;
            opacity: calc(1/3);
            float: right;
        }
            #social img:hover { opacity: 1; }


/* section title overlapping <hr> */
.section-title {
    display: table;
    background-color: var(--page-bg);
    margin: -38px 0 15px 17px;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 600;
    font-variant: small-caps;
    color: var(--secondary-text);
}

/* portfolio wrapper */
.portfolio {
    padding: 0 25px;
    display: flex;
    flex: 0 calc(50%-25px);
    flex-flow: row wrap;
    justify-content: space-between;
}
    .portfolio * { margin: 0; }

    .project {
        display: inline-block;
        background-color: var(--hr);
        border-radius: 4px;
        box-sizing: border-box;
        width: calc(50% - 12.5px);
        margin-bottom: 25px !important;
        vertical-align: bottom;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: 0.2s ease-in-out;
    }
        .project:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        .project:hover {
            transition: 0.2s ease-in-out;
        }

        .wip {
            opacity: calc(1/3);
            cursor: default;
        }
            .wip .name {
                color: var(--primary-text);
                text-decoration: none !important;
                cursor: default !important;
            }
                .wip .name:after { content: " (in progress)"; }

        .project-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 3px;
            transition: 0.2s ease-in-out;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
            .project-overlay:hover .name { text-decoration: underline; }
                
            .project-text {
                display: inline-block;
                position: absolute;
                padding: 15px;
                bottom: 0;
                box-sizing: border-box;
                transition: 0.2s ease-in-out;
            }

            .name {
                font-weight: 600;
                display: inline-block;
                font-size: 14px;
                cursor: pointer;
                color: var(--link-col);
            }

            .desc {
                font-size: 12px;
                margin: 2px 0;
                overflow: hidden;
                transition: all 0.2s ease-in-out;
                color: var(--secondary-text);
            }
                #awards .desc { color: var(--primary-text); }

            .tool {
                font-size: 12px;
                color: var(--secondary-text);
                margin: 0;
            }

            .collab {
                background-color: var(--secondary-text);
                margin-left: 7px;
            }
                .collab + .collab {
                    margin-left: -6px !important;
                    filter: drop-shadow(-1px 0 0 var(--page-bg));
                }


    @media (orientation: portrait), (max-width: 600px) {
        .portfolio { grid-template-columns: 1fr; }
    }