#modules-grid {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: auto;
    width: 600px;
    max-width: calc(100vw - 50px);
}
    #modules-grid h1, h2, h3,
    .week {
        font-size: 1.4rem;
    }

    #modules-grid h1 {
        font-weight: 400;
        color: var(--link) !important;
        padding: 4px 0;
        cursor: pointer;
    }
        #modules-grid h1:hover {
            text-decoration: underline;
        }
        #modules-grid .selected {
            color: var(--primary-text) !important;
            font-weight: 600 !important;
            text-decoration: none !important;
        }

    .module {
        display: none;
    }

    h3 {
        font-weight: 400;
        font-variant: small-caps;
        color: #767676;
    }

    h2 {
        font-weight: 400;
        display: inline-block;
        padding: 4px 0;
        color: var(--link);
        cursor: pointer;
        width: 100%;
    }
        h2:hover {
            text-decoration: underline;
        }
        .author {
            font-style: italic;
            opacity: 0.75;
        }

    .placeholder {
        color: var(--secondary-text);
        opacity: 0.75;
        text-decoration: none !important;
        cursor: initial;
    }