#content {
    display: flex;
    gap: 20px;
}

.module {
    width: 100%;

    background-color: #fff;

    padding: 20px;

    margin-bottom: 20px;
    
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #eee;

    transition: 0.2s ease-in-out;
}
    .module:hover {
        border-color: #e6e6e6;
        filter: drop-shadow(0 4px 4px #00000011);
        transition: 0.1s ease-in-out;}
    .module h1 {
        color: var(--text1);
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .module h2 {
        color: var(--text1);
        font-size: 0.9rem;
        font-weight: 500;

        margin-top: 15px;
    }
    .module #links {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
        .module a {
            display: block;
        }
        .module p {
            font-size: 0.8rem;
            color: var(--text2);
        }