/* wrapper */
.password-wrapper {
    text-align: center;
    width: calc(100vw-25px);
    margin: auto;
    max-width: 550px;
    padding: 0 25px;
    line-height: 1.5rem;
}
    /* password project h4 */
    .password-wrapper h4 {
        font-weight: 400;
        font-size: 0.9rem;
    }
    /* inline input */
    #include-upp, #include-low, #include-num,
    #include-sym, #password-length, .label {
        display: inline;
        padding: 0;
    }
    /* spacer between a checkbox and its label */
    .checkbox + .label {
        margin-left: 15px;
    }
    /* password generation button */
    #password-gen {
        margin-top: 40px;
        margin-bottom: 15px;
        background: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.2s;
    }
        /* pwd gen button on hover */
        #password-gen:hover {
            border-color: #666;
            box-shadow: 0 5px 5px rgb(0, 0, 0, 0.05);
            transition: 0.1s;
        }
        /* pwd gen button on click */
        #password-gen:active {
            background-color: #eee;
            box-shadow: none;
        }
    /* password input field */
    #password-input {
        background: #FFBFB8;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
        font-size: 1.5rem;
        width: 80%;
        margin: 10px 0;
    }
    /* password length input */
    #password-length {
        width: 8%;
        padding: 2px 3px;
        text-align: center;
    }
    /* crack time display */
    .time-display {
        display: inline;
    }