html * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    user-select: none;
}



#grid {
    display: grid;
    grid-template-columns: repeat(5, 52px);
    gap: 10px;
    width: fit-content;
    margin: 80px auto;
}
    .day {
        overflow: hidden;
        border-radius: 3px;
        background-color: #eee;
        border: 1px solid transparent;
        border-color: #0002;
    }
        .cell {
            width: 50px;
            height: 22px;
            cursor: pointer;
        }
            .busy {
                background-color: #fa4d56 !important;
                border-color: #0003 !important;
            }
                .busy + .busy {
                    border-top-color: transparent !important;
                    height: 30px;
                    margin-top: -8px;
                }