.light {
    --free-cell: #9fdefb;
    --mixed-cell: #ffc394;
    --busy-cell: #f4825e;
    
    --free-cell-hov: #caf2ff;
    --busy-cell-hov: #efa68f;
}
.dark {
    --free-cell: #6dacc9;
    --mixed-cell: #db9162;
    --busy-cell: #c2502c;

    --free-cell-hov: #9fdefb;
    --busy-cell-hov: #f4825e;
}


h1 { margin: auto; }


/* buttons */
button {
    color: var(--primary-text);
    padding: 6px 8px;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
    button:disabled { cursor: default; }
    button:hover:enabled { text-decoration: underline; }
    button+button { margin-left: 10px; }


/* wrapper */
#tables-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 600px;
    max-width: calc(100vw - 50px);
}
    /* timetable buttons wrapper */
    #buttons {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 20px;
    }
        /* all buttons inline */
        #buttons * {
            display: inline;
            text-align: center;
        }
        /* code section */
        #code {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
            /* everything inline */
            #code * {
            display: inline;
            text-align: center;
        }
            /* code text field */
            #code input {
                border-radius: 3px 3px 0 0;
                color: var(--primary-text);
                margin: 0 5px;
                width: 5rem;
                border: none;
                font-size: 0.75rem;
                border-bottom: 1px solid #aaaaaa55;
                background-color: transparent;
            }
                #code input:focus {
                    background-color: #aaaaaa11;
                    border-bottom: 1px solid #aaaaaa;
                }
        /* nav buttons initially disabled */
        #nextUser, #prevUser, #removeUser { opacity: 0.2; }

    /* inline table wrappers */
    #user-wrapper, #output-wrapper {
        display: inline-block;
        width: 250px;
        margin: auto;
    }
        #output-wrapper { margin-top: 0; }
        /* table titles */
        #user-wrapper h1, #output-wrapper h1 {
            font-size: 1rem;
            border-bottom: 1px solid transparent;
        }
            #user-wrapper h1 {
                border-radius: 3px 3px 0 0;
                background-color: transparent;
                white-space: nowrap;
                overflow: hidden;
                padding: 0 10px;
                border-bottom: 1px solid #aaaaaa55;
                max-width: 100px;
            }
                #user-wrapper h1:focus {
                    background-color: #aaaaaa11;
                    border-bottom: 1px solid #aaaaaa;
                }
        .table-header {
            width: 150px;
            margin: auto;
            text-align: center;
        }
        /* initially hide user tables */
        .user { display: none; }
        #user-caption, #comparison-caption {
            font-size: 0.75rem;
            color: var(--secondary-text);
            text-align: center;
        }

    /* centre tables */
    #tables-wrapper table {
        margin: auto;
    }
        /* table cells */
        #tables-wrapper td {
            border: 1px solid var(--page-bg);
            background-color: var(--page-bg);
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
        }
            .free, .busy, .allFree, .mostFree, .mostBusy {
                color: var(--primary-text);
            }
            .allFree, .mostFree, .mostBusy { cursor: initial; }
                .allFree  { background-color: var(--free-cell) !important; }
                .mostFree { background-color: var(--mixed-cell) !important; }
                .mostBusy { background-color: var(--busy-cell) !important; }

        /* time labels */
        .time-cell-l, .time-cell-r {
            vertical-align: top !important;
            font-weight: 400 !important;
            color: var(--primary-text);
            font-size: 0.6rem !important;
        }
            /* left time column */
            .time-cell-l {
                text-align: right;
                padding-right: 3px;
            }
            /* right time column */
            .time-cell-r {
                text-align: left;
                padding-left: 1px;
            }
        /* day label */
        .day {
            text-align: center;
            vertical-align: bottom;
        }
        /* table lables */
        .day, .time-cell-l, .time-cell-r {
            font-size: 0.7rem;
            font-weight: 500;
            font-variant: small-caps;
            border: none !important;
            background-color: transparent !important;
            cursor: auto !important;
        }
        /* free cell */
        .free {
            background-color: var(--free-cell) !important;
        }
            /* free cell on hover */
            .free:hover {
                background-color: var(--free-cell-hov) !important;
            }
        /* busy cell */
        .busy {
            background-color: var(--busy-cell) !important;
        }
            /* free cell on hover */
            .busy:hover {
                background-color: var(--busy-cell-hov) !important;
            }
