.light {
    --green-cell: #55efc4;
    --yellow-cell: #fdcb6e;
    --red-cell: #ff7675;
}
.dark {
    --green-cell: #1abc9c;
    --yellow-cell: #f39c12;
    --red-cell: #d63031;
}


/* buttons */
button {
    color: var(--primary-text);
    padding: 6px 8px;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
    button:disabled {
        cursor: default;
    }
    button:hover:enabled { text-decoration: underline; }
    button+button { margin-left: 10px; }


/* wrapper */
#tables-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    /* timetable buttons wrapper */
    #buttons {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 20px;
    }
        /* all buttons inline */
        #buttons * {
            display: inline;
            text-align: center;
        }
        /* code section */
        #code {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
            /* everything inline */
            #code * {
            display: inline;
            text-align: center;
        }
            /* code text field */
            #code input {
                color: var(--primary-text);
                background-color: var(--page-bg);
                margin: 0 5px;
                width: 5rem;
                border: none;
                font-size: 0.75rem;
            }
                #code input:hover { background-color: #f4f4f4; }
                #code input:focus {
                    border-color: #888;
                    background-color: #f4f4f4;
                }
        /* nav buttons initially disabled */
        #nextUser, #prevUser, #removeUser { opacity: 0.2; }

    /* inline table wrappers */
    #user-wrapper, #output-wrapper {
        display: inline-block;
        width: 250px;
        margin: auto;
    }
        #output-wrapper { margin-top: 0; }
        /* table titles */
        #user-wrapper h1, #output-wrapper h1 {
            font-size: 1rem;
            text-align: center;
            margin: 0;
        }
        /* initially hide user tables */
        .user { display: none; }
        #caption {
            font-size: 0.75rem;
            color: var(--secondary-text);
            text-align: center;
        }

    /* centre tables */
    #tables-wrapper table {
        margin: auto;
    }
        /* table cells */
        #tables-wrapper td {
            border: 1px solid var(--page-bg);
            background-color: #d3d3d3;
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            user-select: none;
        }
            .free, .busy, .allFree, .mostFree, .mostBusy {
                color: rgb(0, 0, 0, 0.8);
            }
            .allFree, .mostFree, .mostBusy { cursor: initial; }
                .allFree  { background-color: var(--green-cell) !important; }
                .mostFree { background-color: var(--yellow-cell) !important; }
                .mostBusy { background-color: var(--red-cell) !important; }

        /* time labels */
        .time-cell-l, .time-cell-r {
            vertical-align: top;
            font-weight: 400 !important;
            color: var(--primary-text);
            font-size: 0.6rem !important;
            }
            /* left time column */
            .time-cell-l {
                text-align: right;
                padding-right: 5px;
            }
            /* right time column */
            .time-cell-r {
                text-align: left;
                padding-left: 3px;
            }
        /* day label */
        .day {
            text-align: center;
            vertical-align: bottom;
        }
        /* table lables */
        .day, .time-cell-l, .time-cell-r {
            font-size: 0.7rem;
            font-weight: 500;
            font-variant: small-caps;
            border: none !important;
            background-color: transparent !important;
            cursor: auto !important;
        }
        /* free cell */
        .free {
            background-color: var(--green-cell) !important;
        }
        /* busy cell */
        .busy {
            background-color: var(--red-cell) !important;
        }
            /* cell on hover */
            .busy:hover, .free:hover {
                border: 3px solid rgba(0, 0, 0, 0.25) !important;
                box-sizing: border-box;
            }
