html * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}


#info { margin: 80px auto 40px auto; }
    #info h1 { font-size: 20px; }
    #info h2 { font-size: 14px; }


#buttons {
    display: flex;
    justify-content: space-between;
}
    #this-code { font-weight: 600; }
    label {
        margin: 0 24px 0 4px;
        color: #767676;
    }
        input:checked + label { color: var(--text); }

#code-box {
    width: 100%;
    padding: 5px;
    margin-top: 4px;
}


#tt-cn {
    height: 500px;

    position: relative;

    margin: 40px 0;
}
    .hidden { display: none !important; }

    #u-tt, #c-tt {
        display: grid;
        grid-template-columns: repeat(5, 18.4%);
        gap: 2%;

        margin: 40px 0;
        width: 100%;
    }
        .day {
            height: 700px;
            display: grid;
            grid-template-rows: repeat(19, calc(100%/19));
            border-top: none; border-right: none;
        }
            .day-name { font-weight: 600; }
            .time {
                border-top: 1px solid #ddd;
                cursor: pointer;

                font-size: 12px;
                font-weight: 500;
                color: #000a;

                user-select: none;

                position: relative;
            }
                .time:hover { color: #000; }
                .time p, .busy:before, .free:before { padding-left: 3px; }

                .busy { color: #000; }
                    .busy:before {
                        position: absolute;
                        color: #fff;
                        font-weight: 500;
                        content: "Busy";
                        display: block;

                        background-color: #e44;
                        border-radius: 3px;
                        border-left: 3px solid #0005;

                        width: calc(100% - 60px);
                        height: calc(100% - 3px);
                        margin: -1px 0 0 45px;
                    }

                    .busy + .busy:before {
                        content: "";
                        margin-top: -10px;
                        height: calc(100% + 6px);
                    }
                
                .free { color: #000; }
                    .free:before {
                        position: absolute;
                        color: #fff;
                        font-weight: 500;
                        content: "All users free";
                        display: block;

                        background-color: #1bb;
                        border-radius: 3px;
                        border-left: 3px solid #0005;

                        width: calc(100% - 60px);
                        height: calc(100% - 3px);
                        margin: -1px 0 0 45px;
                    }

                    .free + .free:before {
                        content: "";
                        margin-top: -10px;
                        height: calc(100% + 6px);
                    }